.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data-table {
  margin-top: 32px;
  margin-bottom: 32px;
  max-height: 100%;
  height: auto;
}

.table {
  text-align: center;
  min-width: 100%;
}

.itens-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.itens-list svg {
  margin-right: 4px;
}

.home-pessoa {
  margin-top: 24px;
}
