* {
  padding: 0;
  margin: 0;
}

body, html {
  position: absolute;
  width: 100%;
  height: auto;
}

#root  {
  background: linear-gradient(to right, #7474bf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.app {
  margin: 0px 10% ;
  height: 80vh;
  width: 80%;
}

.home {
  max-height: 100%;
  height: auto;
  padding: 16px 0px 0px 0px;
  overflow: auto;
  overflow-x: hidden;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data-table {
  margin-top: 32px;
  max-height: 100%;
  height: auto;
}

.table {
  text-align: center;
  min-width: 100%;
}

.itens-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.itens-list svg {
  margin-right: 4px;
}


/* new contato*/

.new-contato {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 600px;
}

.new-contato .header {
  justify-content: start;
}

.new-contato form {
  margin-top: 32px;
  width: 360px;
  max-width: 400px;
}

.new-contato .buttons {
  display: flex;
  flex-direction: row;
}

.button-form {
  display: none;
}