* {
  padding: 0;
  margin: 0;
}

body, html {
  position: absolute;
  width: 100%;
  height: auto;
}

#root  {
  background: linear-gradient(to right, #7474bf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.app {
  margin: 0px 15% ;
  min-height: 80vh;
  height: auto;
  width: 75%;
}

.home {
  max-height: 100%;
  height: auto;
  padding: 16px 0px 0px 0px;
  overflow: auto;
  overflow-x: hidden;
}



