* {
  padding: 0;
  margin: 0;
}

body, html {
  position: absolute;
  width: 100%;
  height: auto;
}

#root  {
  background: linear-gradient(to right, #7474bf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.app {
  margin: 0px 15% ;
  min-height: 80vh;
  height: auto;
  width: 75%;
}

.home {
  max-height: 100%;
  height: auto;
  padding: 16px 0px 0px 0px;
  overflow: auto;
  overflow-x: hidden;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data-table {
  margin-top: 32px;
  max-height: 100%;
  height: auto;
}

.table {
  text-align: center;
  min-width: 100%;
}

.itens-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.itens-list svg {
  margin-right: 4px;
}


/* new contato*/

.new-contato {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 600px;
}

.new-contato .header {
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: start;
}

.new-contato form {
  margin-top: 32px;
  width: 360px;
  max-width: 400px;
}

.new-contato .buttons {
  margin-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.new-contato .buttons-person {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}
.new-contato .buttons-person button {
  margin: 0px 8px;
}
.button-form {
  display: none;
}

/* Contato */

.home-pessoa {
  margin-top: 24px;
}

.content {
  padding: 0px 8% ;
}

.form-data-disabled {
  min-width: 500px;
  max-width: 100%;
}
.form-data-disabled input {
  max-width: 350px;
}
.contacts-table {

  min-height: 250px;
  height: auto;
}

.itens-list-contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.control-contact {
  padding-left: 18px;
  min-width: 300px;
}

.line-contact {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.line-contact .subtitle {
  margin-bottom: 0px !important;
}